<!DOCTYPE html>
<html>
    <head>

        <link rel="stylesheet" href="signUp.css">
        <title>Sign up</title>

    </head>

    <body>
    <div class="divHeader">

        <ul>
            <a href="homepage.html"><img src="logo.png" alt="your Logo" id="mg"></a>
            <snap class="nave">
                <li><a href="profile.html">Profile</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="addOffer.html">Rent</a></li>
                <li><a href="Request Page.html">Requests</a></li>
                <li><a href="cart.html">Cart</a></li>
            </snap>
        </ul>
    </div>
        <h1 id="Head-yellow">Greetings</h1>
        <main>
            <div class="form-area">
                
                <h2>Recover your account</h2>
                <form method="POST">
                    <label for = "email">Email</label>
                    <input type="email" name ="email" placeholder="Enter your Email">
                    <input type="submit" value ="Send recovery a link" id="btn">
                </form>
                <p id="under-btn">Already Have An Account? <a href="login.html">Log in</a></p>
            </div>
        </main>
        <footer>
            <p>&copy;Renty</p>
        </footer>
    </body>

    
</html>