<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>homepage</title>
  <link rel="stylesheet" href= "homepage.css" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </head>
<body>
<div class="divHeader">

    <ul>
        <a href="/"><img src="logo.png" alt="your Logo" id="mg"></a>
      <snap class="nave">
          <li><a href="/loginPage">Profile</a></li>
          <li><a href="/loginPage">Login</a></li>
          <li><a href="/loginPage">Rent</a></li>
          <li><a href="/reqs">Requests</a></li>
          <li><a href="cart.html">Cart</a></li>
      </snap>
    </ul>
</div>
<h1 id="Head-yellow">Announcements</h1>
  <main>
    <div id = "offersAnnouncments">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="item.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="item.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="item.png" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>

    <div class="container">
        <div class="row row-cols-4 ">
          {% for item in items %}
          <div class="col">
            <div class = item >
              <img src="item.png" alt="item">
              <br>
              {{item.title}}<br>
              <button class = rentItem onclick="window.location.href = '/items/{{ item.item_ID }}';">
                  Rent
              </button>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
  </main>

  <footer>

    <div> &copy; Renty </div>

  </footer>
</body>
</html>
