<!DOCTYPE html>
<html>
    <head>

        <link rel="stylesheet" href="login.css">
        <title>login</title>

    </head>

    <body>
    <div class="divHeader">

        <ul>
            <a href="/"><img src="logo.png" alt="your Logo" id="mg"></a>
            <snap class="nave">
                <li><a href="/loginPage">Profile</a></li>
                <li><a href="/loginPage">Login</a></li>
                <li><a href="/loginPage">Rent</a></li>
                <li><a href="/reqs">Requests</a></li>
                <li><a href="cart.html">Cart</a></li>
            </snap>
        </ul>
    </div>
        <h1 id="Head-yellow">Greetings</h1>
        <main>
            <div class="form-area">
                
                <h2>Login to your account</h2>
                <form method="POST" action="/login">
                    <label for = "email">Email</label><br>
                    <input type="email" id= "email" name ="email" placeholder="Enter your Email"></input><br><br>
                    <label for = "password" >Password</label>
                    <a href="forgot.html" id="forget">Forgot?</a><br>

                    <input type="password" id="password" name ="password" placeholder="Enter your Password"></input><br><br>
                    <input type="submit" value ="Login now" id="btn">
                </form>
                <p id="under-btn">Don't Have An Account? <a href="/signUpPage">Sign Up</a></p>
            </div>
        </main>
        <footer>
            <p>&copy;Renty</p>
        </footer>
    </body>

    
</html>