

main {
    max-width: 40vw;
    margin: auto;
    background-color: lemonchiffon;
    font-family: Helvetica;
    padding: 1vh;
}

body{
    margin: 0;
}



.nave{
    max-width: 500px;
    margin: auto;
    top: 0rem;
    width: 100%;
    padding: 0px 0px 0px 230px;
}

li {
    display: inline;
}

.nave li{
    float: right;
    margin:1rem;
    font-family: Helvetica;
    font-weight: bold;
    display: inline;
    text-decoration: none;
    color: #000000;
}

.nave li a{
    text-decoration: none;
    color: #000000;

}

.nave ul{
    display: inline;
    float: left;
    margin: 0 0 0 0 ;
}

.divHeader{
    background-color:gold;
    display: inline-block;
    width: 100%;
    margin-bottom: 1rem;

}

#mg{
    display: inline-flex;
    margin:1rem 0 0 0 ;
    max-width: 7rem;
}

.form-area {
    max-width: 30vh;
    background-color: lemonchiffon;
}
label {
    font-size: 1rem;
    padding: 0rem 0rem 7rem 0rem; 
}

input {
    border: 0.1rem solid;
    border-color: lightgray;
    border-radius: 0.5rem;
    height: 2.5em;
    width: 23vw;
    font-size: 1rem;
    padding: 0rem 1rem;
    font-family: Helvetica;
}
#img{
    border: none;
}
.price-input{
    width: 5rem;
}
.date-input{
    width: 10rem;
}

ul li{
    display: inline-block;
    padding:10px;
    font-size:20px;
    font-family:raleway;
}
.nave li :hover{
    color:orange;

}
#btn {
    border: black;
    background-color: black;
    color: white;
}

*{transition:all 0.3s ease-in-out;}
footer {
    background-color: gold;
    text-align: center;
    margin : 0px; 
    top: 0rem;
    width: 100%;
    height: 10vh;
}
