
  #offersAnnouncments{
    border: 5px solid;
    margin: auto;
    width: 50%;
}
.container{
    margin: 10vh;
}
footer{
    background-color: gold;
    text-align: center;
    margin : 0px;
    top: 0rem;
    width: 100%;
    height: 10vh;
}
.nave{
    max-width: 500px;
    margin: auto;
    top: 0rem;
    width: 100%;
    padding: 0px 0px 0px 230px;
}
.nave li{
    float: right;
    margin:1rem;
    font-family: Helvetica;
    font-weight: bold;
    display: inline;
    text-decoration: none;
    color: #000000;
}
.nave li a{
    text-decoration: none;
    color: #000000;

}
.nave ul{
    display: inline;
    float: left;
    margin: 0 0 0 0 ;
}

.divHeader{
    background-color:gold;
    display: inline-block;
    width: 100%;
    margin-bottom: 1rem;

}
#mg{
    display: inline-flex;
    margin:1rem 0 0 0 ;
    max-width: 7rem;
}
ul li{
    display: inline-block;
    padding:10px;
    font-size:20px;
    font-family:raleway;
}
.nave li :hover{
    color:orange;

}
*{transition:all 0.3s ease-in-out;}
#Head-yellow {
    background-color: gold;
    font-family: Helvetica ;
    height: 4rem;
    padding: 30px 0px 30px 0px;
    text-align: center;
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
}

#CartHeader{
    margin: 1vh;
}

.payButton {
    background: gold;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    border: 0;
    margin: auto;
}